body {
    width: 100%;
    height: 100%;
    font-family: @font-type;
    color: @color-font;
    background: white;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.8;

    @media @screen-tablet {
        line-height: 1.6;
    }
}

.h1, .h2, .h3, .h4, .h5, .h6, .header {
    font-weight: 700;
}

@media (min-width: 1310px) {
    .container {
        width: 1280px;
    }
}

a {
    color: @color-font;
    text-decoration: underline;

    &:hover, &:active, &:focus {
        color: darken(@color-font, 10%);
    }
}

.font-bold {
    font-weight: 700;
}

.font-semi {
    font-weight: 600;
}

.font-regular {
    font-weight: 400;
}

.max {
    max-width: 1920px;
    margin: 0 auto;
    background-color: @bg-color-1;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.highlight {
    color: @color-secondary;

    &--primary {
        color: darken(@color-primary, 5%);
    }
}

// Unstyled keeps list items block level, just removes default browser padding and list-style
.list-unstyled {
    padding-left: 0;
    list-style: none;
    margin: 0;
}

// Inline turns list items into inline-block
.list-inline {
    .list-unstyled();
    margin: 0 0 0 -5px;

  > li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
  }
}