.contact-form {
	
	form {
		border-right:solid 1px lighten(@border-color,20%);
	}

	.contact-details {
		font-family:@font-type-title;
		.type-size(34px);
		.type-line-height(51px);
		text-align:center;

		p {
			margin-top:0;

			&.separator:after{
				content:"~";
				display:block;
				text-align:center;
				.type-size(50px);
				.type-margin-top(25px);
				.type-margin-bottom(-30px);
			}
		}
	}
}