.cv {
	.skills {
		ul {
			width:45%;
			float:left;
			margin:0;
		}
	}
	h4, h5, h6 {
		font-family:@font-type-base;
		margin-top:0;
		margin-bottom:0;
	}
	h4 {
		.type-margin-top(40);
		font-weight:bold;

		&:first-child {
			margin-top:0;
		}
	}
	h6 {
		color:lighten(@type-color, 20%);
		.type-size(15);
		.type-line-height(21);
	}
	p {
		.type-margin-top(13);
		.type-margin-bottom(13);
		.type-line-height(28);
	}

}