// less/variables.less

@font-type-base:'Open Sans', Arial, "Helvetica Neue", Helvetica, sans-serif;

@font-face {
    font-family: 'LobsterRegular';
    src: url('../lobster/Lobster_1.3-webfont.eot');
    src: url('../lobster/Lobster_1.3-webfont.eot?#iefix') format('embedded-opentype'),
         url('../lobster/Lobster_1.3-webfont.woff') format('woff'),
         url('../lobster/Lobster_1.3-webfont.ttf') format('truetype'),
         url('../lobster/Lobster_1.3-webfont.svg#Lobster13Regular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-type-title:LobsterRegular, Georgia, Times, "Times New Roman", serif;

@type-color:#444444;

@bg-color:#EBEBE5;

@border-color:#aea18d;

@link-color:#4E6D7D;

@error-color:#984428;

@input-bg:#F6F6F6;

@input-border:#CCCCCC;

@button-color:#9c9c9c;

@strong-color:#7e7361;

@mark-color:#80fb5b;