/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.rotate-none {
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
}
.inline-block {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
p {
  margin: 0 0 15px;
}
.oswald {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
}
.lato {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}
.merriweather {
  font-family: 'Merriweather', serif;
  font-weight: 400;
}
.lora {
  font-family: 'Lora', serif;
  font-weight: 400;
}
.lato-hairline {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-weight: 100;
}
.oswald-light {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-weight: 300;
}
.lora-italic {
  font-family: 'Lora', serif;
  font-weight: 400;
  font-style: italic;
}
.lora-bold-italic {
  font-family: 'Lora', serif;
  font-weight: 400;
  font-weight: 700;
  font-style: italic;
}
.merriweather-light {
  font-family: 'Merriweather', serif;
  font-weight: 400;
  font-weight: 300;
}
.merriweather-heavy {
  font-family: 'Merriweather', serif;
  font-weight: 400;
  font-weight: 700;
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.upper {
  text-transform: uppercase;
}
.lower {
  text-transform: lowercase;
}
.crunch {
  margin: 0;
}
.dashed-top {
  border-top: dashed 2px #234f70;
  border-top: dashed 2px rgba(0, 0, 0, 0.4);
  -webkit-background-clip: padding-box;
  /* for Safari */

  background-clip: padding-box;
  /* for IE9+, Firefox 4+, Opera, Chrome */

}
.dashed-bottom {
  border-bottom: dashed 2px #234f70;
  border-bottom: dashed 2px rgba(0, 0, 0, 0.4);
  -webkit-background-clip: padding-box;
  /* for Safari */

  background-clip: padding-box;
  /* for IE9+, Firefox 4+, Opera, Chrome */

}
.semi-circle-after:after {
  content: "";
  pointer-events: none;
  position: absolute;
  z-index: 10;
  display: block;
}
.semi-circle-after:after {
  height: 28px;
  width: 28px;
  left: 50%;
  bottom: -14px;
  margin-left: -14px;
  border-radius: 14px;
  background-color: #fff;
}
.container {
  width: 960px;
  margin: 0 auto;
}
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11 {
  float: left;
}
.row {
  *zoom: 1;
}
.row:before,
.row:after {
  content: " ";
  display: table;
}
.row:after {
  clear: both;
}
.col-1 {
  width: 80px;
}
.col-2 {
  width: 160px;
}
.col-3 {
  width: 240px;
}
.col-4 {
  width: 320px;
}
.col-5 {
  width: 400px;
}
.col-6 {
  width: 480px;
}
.col-7 {
  width: 540px;
}
.col-8 {
  width: 640px;
}
.col-9 {
  width: 720px;
}
.col-10 {
  width: 800px;
}
.col-11 {
  width: 880px;
}
.offset-1 {
  margin-left: 80px;
}
.offset-3 {
  margin-left: 240px;
}
.col-md-7.pull-right {
  float: right;
}
@media (max-width: 1079px) {
  .container {
    width: 768px;
  }
  .col-md-1 {
    width: 64px;
  }
  .col-md-2 {
    width: 128px;
  }
  .col-md-3 {
    width: 192px;
  }
  .col-md-4 {
    width: 256px;
  }
  .col-md-5 {
    width: 320px;
  }
  .col-md-6 {
    width: 384px;
  }
  .col-md-7 {
    width: 448px;
  }
  .col-md-8 {
    width: 512px;
  }
  .col-md-9 {
    width: 576px;
  }
  .col-md-10 {
    width: 640px;
  }
  .col-md-11 {
    width: 704px;
  }
  .col-md-12 {
    width: 768px;
  }
  .offset-1,
  .offset-3 {
    margin-left: 0;
  }
}
@media (max-width: 799px) {
  .container {
    width: 95%;
  }
  .col-1,
  .col-2,
  .col-3,
  .col-4,
  .col-5,
  .col-6,
  .col-7,
  .col-8,
  .col-9,
  .col-10,
  .col-11,
  .col-12,
  .col-md-1,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-10,
  .col-md-11,
  .col-md-12 {
    float: none;
    width: 100%;
  }
  .col-sm-3,
  .col-sm-6 {
    float: left;
  }
  .col-sm-3 {
    width: 33%;
  }
  .col-sm-6 {
    width: 50%;
  }
}
@media (max-width: 640px) {
  .container {
    width: 85%;
  }
}
@media (max-width: 360px) {
  .col-sm-3,
  .col-sm-6 {
    width: 100%;
    float: none;
  }
}
html {
  font-size: 62.5%;
}
body {
  font-family: Merriweather, Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.357;
  color: #000000;
  background-color: #ffffff;
  overflow-x: hidden;
}
img {
  max-width: 100%;
}
a {
  color: #000;
  text-decoration: none;
}
a:hover,
a:focus,
a:active {
  text-decoration: underline;
}
.logo {
  font-size: 279px;
  margin-top: 35px;
  color: #fff;
  line-height: 0.8;
  margin-left: -60px;
  word-wrap: break-word;
  position: relative;
  left: 20px;
  z-index: 10;
}
.logo .closer {
  letter-spacing: -15px;
}
.logo .wider {
  letter-spacing: 10px;
}
.purple-haze {
  position: absolute;
  left: 0;
  top: 0;
  width: 45.5%;
  background: #cdc9dd url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/86373/gradient_1.png) repeat-x bottom left;
  height: 1010px;
  z-index: -5;
}
.volume {
  font-size: 12px;
  letter-spacing: 2.5px;
  color: #b0aeb8;
  margin-top: 140px;
}
.upside-down-heads {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/86373/upside-down-heads_1.jpg) no-repeat left top;
}
.immigration {
  padding-top: 153px;
  padding-right: 20px;
  border-right: solid 1px #e5e5e5;
}
.immigration h2 {
  font-size: 83px;
  letter-spacing: -1px;
  border-bottom: solid 22px #000;
  padding-bottom: 5px;
}
.immigration h3 {
  font-size: 40px;
  letter-spacing: -1px;
  border-bottom: solid 3px #000;
  padding-bottom: 15px;
  margin: 10px 0 11px 0;
}
.immigration p {
  font-size: 22px;
  letter-spacing: -0.2px;
  line-height: 1.32;
}
.immigration a {
  font-family: 'Merriweather', serif;
  font-weight: 400;
  font-weight: 700;
}
.positioning-relatives {
  font-size: 24px;
  line-height: 1.32;
  position: relative;
  top: -10px;
  z-index: 5;
  margin-bottom: 52px;
  margin-top: -310px;
}
.positioning-relatives .feature {
  font-size: 13px;
  color: #cbb8a0;
  margin-bottom: 2px;
  letter-spacing: 3px;
}
.positioning-relatives h2 {
  font-size: 75px;
  line-height: 1.05;
  color: #fdcd84;
  margin-bottom: 30px;
}
.positioning-relatives .article-detail {
  margin-top: -205px;
  position: relative;
  padding-left: 30px;
}
.positioning-relatives p {
  letter-spacing: -0.1px;
  margin-top: -10px;
}
.positioning-relatives img {
  position: relative;
  margin-left: -154px;
  z-index: -1;
  max-width: none;
}
.box-model {
  font-size: 19px;
  color: #6e6c77;
  position: relative;
  top: -30px;
}
.box-model h2 {
  font-size: 36px;
  color: #5f5d66;
  margin-top: -6px;
  margin-bottom: 15px;
  line-height: 1;
}
.box-model img {
  position: relative;
  z-index: 15;
  left: -80px;
}
.box-model p {
  line-height: 1.42;
}
.staying-afloat h2 {
  color: #24795a;
  font-size: 21px;
  letter-spacing: -0.3px;
  margin-bottom: 6px;
  padding-right: 20px;
}
.staying-afloat p {
  padding-right: 20px;
  padding-left: 6px;
}
.bullets h2 {
  font-size: 15px;
  color: #a97d35;
  vertical-align: center;
  padding: 15px 0 9px 0;
  border-top: solid 1px #e5e5e5;
  border-bottom: solid 1px #e5e5e5;
  letter-spacing: 0.5px;
}
.bullets h2 span {
  font-size: 12px;
  letter-spacing: 1px;
  color: #e0c167;
  position: relative;
  left: 5px;
  top: -2px;
}
.bullets ul {
  margin-top: 15px;
}
.bullets ul li {
  color: #e0e0e0;
  border-left: solid 1px #e5e5e5;
  margin-left: -1px;
  text-align: center;
}
.bullets ul li:first-child {
  border-left: none;
  margin-left: 0;
}
.bullets .figure {
  height: 420px;
}
.bullets .figcaption {
  margin-top: -43px;
  position: relative;
  z-index: -1;
}
.bullets .figcaption span {
  display: block;
  line-height: 40px;
  letter-spacing: -1px;
}
.bullets .figcaption .largest {
  font-size: 87px;
  line-height: 1;
}
.bullets .figcaption .larger {
  font-size: 79px;
  line-height: 1;
}
.bullets .figcaption .large {
  font-size: 40px;
  line-height: 40px;
}
.bullets .figcaption .medium {
  font-size: 39px;
  line-height: 40px;
}
.bullets .figcaption .small {
  font-size: 38px;
  line-height: 40px;
}
.bullets .figcaption .smaller {
  font-size: 32px;
  line-height: 1.1;
}
.bullets .figcaption .tiny {
  font-size: 31px;
  line-height: 40px;
}
.bullets .figcaption .tinier {
  font-size: 28px;
  line-height: 1.1;
}
.bullets .figcaption.bullet-3 {
  margin-top: -19px;
}
.bullets .figcaption.bullet-4 {
  margin-top: -66px;
}
.bullets .figcaption.bullet-5 {
  margin-top: -61px;
}
.famous-blocks {
  background-color: #71625a;
  font-size: 25px;
  line-height: 1.345;
  color: #ffffff;
  margin-top: -25px;
}
.famous-blocks h2 {
  color: #ffffff;
  background-color: #524741;
  padding: 34px 0;
  font-size: 49px;
  line-height: 1;
}
.famous-blocks p {
  padding: 15px 25px 0 25px;
}
.famous-blocks .fig-caption {
  font-size: 18px;
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  -webkit-opacity: 0.5;
  opacity: 0.5;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
  filter: alpha(opacity=50);
  padding-top: 10px;
  padding-bottom: 30px;
}
.famous-blocks .map {
  position: relative;
}
.famous-blocks .map-link,
.famous-blocks .google-map,
.famous-blocks .google-map img,
.famous-blocks .leaf-turn {
  position: absolute;
  right: 0px;
  bottom: 0px;
}
.famous-blocks .map-link,
.famous-blocks .leaf-turn {
  z-index: 10;
}
.famous-blocks .google-map,
.famous-blocks .leaf-turn {
  width: 90px;
  height: 90px;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}
.famous-blocks .map-link {
  bottom: 9px;
  width: 130px;
  height: 130px;
}
.famous-blocks .map-link:hover .leaf-turn,
.famous-blocks .map-link:hover .google-map {
  width: 130px;
  height: 130px;
}
.famous-blocks .google-map {
  z-index: 9;
  overflow: hidden;
}
.famous-blocks .google-map img {
  max-width: none;
}
.immigration {
  padding-top: 153px;
  padding-right: 20px;
  border-right: solid 1px #e5e5e5;
}
.immigration h2 {
  font-size: 83px;
  letter-spacing: -1px;
  border-bottom: solid 22px #000;
  padding-bottom: 5px;
}
.immigration h3 {
  font-size: 40px;
  letter-spacing: -1px;
  border-bottom: solid 3px #000;
  padding-bottom: 15px;
  margin: 10px 0 11px 0;
}
.immigration p {
  font-size: 22px;
  letter-spacing: -0.2px;
  line-height: 1.32;
}
.immigration a {
  font-family: 'Merriweather', serif;
  font-weight: 400;
  font-weight: 700;
}
.transformers {
  margin-left: 15px;
  margin-top: 15px;
  background-color: #3a83bb;
  position: relative;
  padding-bottom: 30px;
}
.transformers img {
  position: relative;
  top: -66px;
  left: -35px;
  max-width: none;
}
.transformers .article-detail {
  margin-top: -100px;
  color: #fff;
}
.transformers h2 {
  font-size: 31px;
}
.transformers h3 {
  font-size: 21px;
  border-bottom: 8px solid #619bc7;
  border-bottom: 8px solid rgba(255, 255, 255, 0.2);
  -webkit-background-clip: padding-box;
  /* for Safari */

  background-clip: padding-box;
  /* for IE9+, Firefox 4+, Opera, Chrome */

  padding-bottom: 12px;
  margin-bottom: 15px;
}
.transformers blockquote {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 18px;
}
.transformers .spaced {
  padding: 0 12px;
}
.transformers .alt-text {
  color: #88aed1;
}
.transformers .rating {
  border-bottom: 4px solid #3476a8;
  border-bottom: 4px solid rgba(0, 0, 0, 0.1);
  border-top: 4px solid #3476a8;
  border-top: 4px solid rgba(0, 0, 0, 0.1);
  -webkit-background-clip: padding-box;
  /* for Safari */

  background-clip: padding-box;
  /* for IE9+, Firefox 4+, Opera, Chrome */

  letter-spacing: -1px;
  padding-bottom: 23px;
  padding-top: 18px;
  line-height: 1.1;
}
.transformers .rotten {
  display: block;
}
.transformers .rotten-rating {
  font-size: 32px;
}
.transformers .percentage {
  font-size: 54px;
  margin-top: -7px;
}
.transformers .rating-bar {
  height: 8px;
  background-color: #619bc7;
  background-color: rgba(255, 255, 255, 0.2);
}
.transformers .rating-bar .percent {
  width: 20%;
  background-color: #fff;
  height: 8px;
}
.transformers .premiere {
  padding-top: 20px;
  letter-spacing: -0.2px;
}
.transformers .premiere .address {
  line-height: 1.2;
}
.transformers .premiere .venue,
.transformers .premiere .country {
  letter-spacing: 0.2px;
  text-align: center;
}
.transformers .premiere .venue {
  font-size: 26px;
}
.transformers .premiere .country {
  font-size: 27px;
}
.transformers .premiere .time {
  font-size: 39px;
  line-height: 1;
}
.transformers .premiere .title {
  background-color: #619bc7;
  background-color: rgba(255, 255, 255, 0.2);
  line-height: 1;
}
.transformers .premiere .title p {
  background-color: #3a83bb;
  width: 60%;
  margin: 0 auto;
}
.overflow {
  padding-bottom: 80px;
  position: relative;
}
.overflow h2 {
  font-size: 82px;
  color: #a0b4c0;
  -webkit-transform: rotate(5deg);
  -moz-transform: rotate(5deg);
  -ms-transform: rotate(5deg);
  -o-transform: rotate(5deg);
  transform: rotate(5deg);
  display: inline-block;
  *display: inline;
  *zoom: 1;
  left: 30px;
  position: relative;
  z-index: 0;
}
.overflow img {
  position: absolute;
  z-index: 5;
  top: -38px;
  left: -25px;
  max-width: none;
}
.overflow p {
  position: relative;
  z-index: 10;
}
.overflow p {
  font-size: 16px;
  color: #5e6c74;
}
.overflow a {
  font-family: 'Lora', serif;
  font-weight: 400;
  font-weight: 700;
  font-style: italic;
}
.overflow .para-1 {
  -webkit-transform: rotate(2.5deg);
  -moz-transform: rotate(2.5deg);
  -ms-transform: rotate(2.5deg);
  -o-transform: rotate(2.5deg);
  transform: rotate(2.5deg);
  margin-top: 30px;
}
.overflow .para-2 {
  -webkit-transform: rotate(-1deg);
  -moz-transform: rotate(-1deg);
  -ms-transform: rotate(-1deg);
  -o-transform: rotate(-1deg);
  transform: rotate(-1deg);
}
.overflow .para-3 {
  -webkit-transform: rotate(1deg);
  -moz-transform: rotate(1deg);
  -ms-transform: rotate(1deg);
  -o-transform: rotate(1deg);
  transform: rotate(1deg);
  margin-top: 20px;
}
.footer {
  padding: 20px 0 50px 0;
  border-top: solid 1px #e5e5e5;
}
.footer small {
  -moz-opacity: 0.6;
  -khtml-opacity: 0.6;
  -webkit-opacity: 0.6;
  opacity: 0.6;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=60);
  filter: alpha(opacity=60);
  font-size: 17px;
}
.footer small .volume-num {
  color: #8c8c8c;
}
.footer .address {
  font-size: 13px;
  color: #989898;
}
@media (max-width: 1079px) {
  .logo {
    font-size: 225px;
  }
  .volume {
    margin-top: 110px;
  }
  .purple-haze {
    height: 910px;
  }
  .positioning-relatives {
    top: 50px;
    font-size: 21px;
    margin-bottom: 110px;
  }
  .positioning-relatives img {
    max-width: 150%;
    margin-left: -115px;
  }
  .positioning-relatives h2 {
    font-size: 65px;
  }
  .positioning-relatives .article-detail {
    margin-top: -180px;
    left: 0;
    padding-left: 50px;
  }
  .box-model img {
    max-width: 90%;
  }
  .staying-afloat h2 {
    font-size: 19px;
  }
  .staying-afloat img {
    display: none;
  }
  .bullets ul li {
    margin-bottom: 40px;
  }
  .bullets .figure {
    height: 390px;
  }
  .bullets .figcaption .largest {
    font-size: 73px;
  }
  .bullets .figcaption .larger {
    font-size: 68px;
  }
  .bullets .figcaption .large {
    font-size: 33px;
    line-height: 1;
  }
  .bullets .figcaption .medium {
    font-size: 33px;
    line-height: 1;
  }
  .bullets .figcaption .small {
    font-size: 30px;
    line-height: 1;
  }
  .bullets .figcaption .smaller {
    font-size: 28px;
  }
  .bullets .figcaption .tiny {
    font-size: 27px;
  }
  .bullets .figcaption .tinier {
    font-size: 25px;
  }
  .bullets .figcaption.bullet-3 {
    margin-top: -24px;
  }
  .bullets .figcaption.bullet-4 {
    margin-top: -52px;
  }
  .bullets .figcaption.bullet-5 {
    margin-top: -49px;
  }
  .famous-blocks {
    font-size: 22px;
  }
  .famous-blocks h2 {
    font-size: 40px;
    padding: 22px 0;
  }
  .famous-blocks .fig-caption {
    font-size: 16px;
    padding-bottom: 20px;
  }
  .upside-down-heads {
    background-size: 68%;
  }
  .immigration {
    padding-top: 115px;
  }
  .immigration p {
    font-size: 21px;
  }
  .immigration h2 {
    font-size: 59px;
    border-bottom-width: 16px;
  }
  .immigration h3 {
    font-size: 29px;
    padding-bottom: 10px;
  }
  .transformers img {
    left: -24px;
    max-width: 120%;
  }
  .transformers .rotten {
    font-size: 16px;
  }
  .transformers .rotten-rating {
    font-size: 35px;
  }
  .transformers .percentage {
    font-size: 56px;
    margin-top: -3px;
    margin-left: 5px;
  }
  .transformers .premiere .venue {
    font-size: 28px;
  }
  .transformers .premiere .country {
    font-size: 29px;
  }
  .transformers .premiere .time {
    font-size: 42px;
  }
  .overflow img {
    left: 0;
    top: -25px;
    max-width: 100%;
  }
  .overflow .para-1 {
    margin-bottom: 30px;
  }
}
@media (max-width: 799px) {
  .purple-haze {
    background-image: none;
    width: 100%;
    height: 300px;
  }
  .volume {
    margin-top: 20px;
  }
  .logo {
    font-size: 160px;
    text-align: center;
  }
  .positioning-relatives {
    top: 0;
    margin-top: 60px;
    margin-bottom: 40px;
  }
  .positioning-relatives img {
    max-width: 100%;
    margin: 0;
  }
  .positioning-relatives h2 {
    margin-bottom: 60px;
    font-size: 60px;
    width: 80%;
  }
  .positioning-relatives .article-detail {
    margin-top: -195px;
    padding-left: 80px;
  }
  .box-model {
    top: 0px;
    margin-top: 90px;
    margin-bottom: 80px;
  }
  .box-model img {
    left: 0;
    float: left;
    margin-right: 20px;
  }
  .staying-afloat {
    text-align: left;
    padding: 15px 30px;
    border-top: solid 1px #e5e5e5;
  }
  .staying-afloat h2 {
    font-size: 24px;
  }
  .staying-afloat p {
    padding: 0;
    font-size: 16px;
  }
  .bullets ul li.col-sm-6 {
    border-left: none;
  }
  .bullets ul li.col-sm-6:last-child {
    border-left: solid 1px #e5e5e5;
    margin-left: 0;
  }
  .upside-down-heads {
    background-image: none;
  }
  .immigration {
    padding-top: 0;
    margin-top: 30px;
    text-align: center;
  }
  .transformers {
    text-align: center;
    margin-top: 80px;
    margin-left: 0;
  }
  .transformers img {
    left: 0;
    top: 0;
    margin-top: -50px;
  }
  .transformers .article-detail {
    margin-top: -20px;
  }
  .transformers blockquote {
    font-size: 24px;
    line-height: 1.4;
  }
  .transformers .rating p {
    float: none;
  }
  .overflow {
    margin-top: 20px;
  }
  .overflow img {
    top: -45px;
  }
  .overflow h2 {
    font-size: 70px;
  }
  .overflow .para-1,
  .overflow .para-2,
  .overflow .para-3 {
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
    text-align: left;
  }
  .footer {
    text-align: center;
  }
  .footer .address {
    float: none;
    text-align: center;
    margin-top: 20px;
  }
}
@media (max-width: 640px) {
  .box-model {
    margin-bottom: 50px;
  }
  .box-model h2 {
    font-size: 32px;
  }
  .box-model img {
    float: none;
    margin-right: 0;
  }
  .positioning-relatives h2 {
    font-size: 45px;
  }
  .positioning-relatives .article-detail {
    margin-top: -160px;
    padding-left: 60px;
  }
  .transformers img {
    max-width: 100%;
  }
  .overflow {
    padding-bottom: 50px;
  }
  .overflow img {
    top: 5px;
  }
  .overflow h2 {
    font-size: 50px;
    top: 10px;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
    left: 0;
  }
  .overflow p,
  .overflow em {
    font-size: 14px;
  }
  .overflow .para-1,
  .overflow .para-2,
  .overflow .para-3 {
    margin-bottom: 15px;
  }
}
@media (max-width: 480px) {
  .purple-haze {
    height: 230px;
  }
  .logo {
    font-size: 132px;
    margin-top: 0;
  }
  .logo .wider {
    letter-spacing: 0;
  }
  .volume {
    float: none;
    text-align: center;
  }
  .box-model {
    margin-top: 40px;
    font-size: 17px;
  }
  .positioning-relatives {
    font-size: 16px;
    margin-top: 50px;
  }
  .positioning-relatives h2,
  .positioning-relatives .feature {
    margin-left: 30px;
  }
  .positioning-relatives h2 {
    font-size: 34px;
    margin-bottom: 30px;
  }
  .positioning-relatives .article-detail {
    padding-left: 20px;
    margin-top: -116px;
  }
  .bullets h2 span {
    display: block;
  }
  .famous-blocks {
    font-size: 16px;
    margin-top: 0;
  }
  .famous-blocks h2 {
    font-size: 30px;
  }
  .famous-blocks .fig-caption {
    padding-top: 0;
    padding-bottom: 10px;
    font-size: 14px;
  }
  .famous-blocks p {
    padding: 10px 15px 0 15px;
  }
  .immigration h2 {
    font-size: 44px;
  }
  .immigration h3 {
    font-size: 20px;
  }
  .immigration p {
    font-size: 16px;
  }
  .overflow img {
    display: none;
  }
}
@media (max-width: 360px) {
  .logo {
    font-size: 145px;
  }
  .purple-haze {
    height: 290px;
  }
  .positioning-relatives h2 {
    font-size: 26px;
  }
  .positioning-relatives h2,
  .positioning-relatives .feature {
    margin-left: 10px;
  }
  .positioning-relatives .article-detail {
    margin-top: -95px;
  }
  .bullets ul li {
    border-left: none;
    margin: 0;
  }
  .overflow h2 {
    display: block;
    font-size: 55px;
    left: 0;
    text-align: center;
  }
}
.ie .logo {
  font-size: 237px;
}
.ie .logo span {
  letter-spacing: 0;
}
.ie .positioning-relatives .article-detail {
  padding-left: 80px;
}