@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #333333;
}

@theme {
  --color-white: #ffffff;
  --color-blue-500: #11a7de;
  --color-blue-700: #0077a3;
  --color-grey-100: #f3f3f3;
  --color-grey-900: #333333;
  --color-yellow-500: #f0df22;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@layer components {
  .container-auto {
    @apply container mx-auto px-4;
  }
}

@layer utilities {
  .footer-top {
    clip-path: polygon(0 10%, 100% 0, 100% 100%, 0% 100%);
  }

  @media (min-width: 768px) {
    .md\:footer-top-md {
      clip-path: polygon(0 25%, 100% 0, 100% 100%, 0% 100%);
    }
  }

  @media (min-width: 992px) {
    .lg\:footer-top-lg {
      clip-path: polygon(0 100px, 100% 0, 100% 100%, 0% 100%);
    }
  }

  .bottom-clip {
    clip-path: polygon(0 0, 100% 0%, 100% 95%, 0% 100%);
  }

  @media (min-width: 768px) {
    .md\:bottom-clip-md {
      clip-path: polygon(0 0, 100% 0%, 100% 90%, 0% 100%);
    }
  }

  @media (min-width: 992px) {
    .lg\:bottom-clip-lg {
      clip-path: polygon(0 0, 100% 0%, 100% 85%, 0% 100%);
    }
  }
}

@layer utilities {
  .bg-scroll-up {
    background-image: url("/scroll-up.svg");
  }
  .bg-scroll-down {
    background-image: url("/scroll-down.svg");
  }
  .bg-github {
    background-image: url("/github.svg");
    background-color: var(--color-white);
  }
  .bg-linkedin {
    background-image: url("/linkedin.svg");
    background-color: var(--color-white);
  }
}

@layer utilities {
  @supports (clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%)) {
    .clip-path-supported-h-100 {
      height: 100px;
    }
  }
}

@layer utilities {
  .clip-hexagon {
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Source Sans 3", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.8;
}

@media only screen and (min-width: 768px) {
  body {
    line-height: 1.6;
  }
}
